$color-primary: #55c57a;
$color-primary-light: #DAFFFB;
$color-primary-dark: #64CCC5;

$color-black : #000;
$color-white : #fff;
$color-grey-dark : #777;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-secondary-light: #008170;
$color-secondary-dark: #005B41;
$color-tertiary-light: #232D3F;
$color-tertiary-dark: #0F0F0F;

$color-personal-1:#FCF5ED;
$color-personal-2:#F4BF96;
$color-personal-3:#CE5A67;
$color-personal-4:#1F1717;


//font sizes
$default-font-size:1.6rem;


//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;